body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif !important;
      }
.firstdiv
{
  width:100%;
  height:50%;
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  padding-left: 11%;
  padding-bottom: 2%;
  font-weight: 800;
  text-align: left;
  padding-top: 5px;

}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: black;
  padding-left: 11%;
  padding-top: 2%;
}
.img1
{
background-repeat: no-repeat;
}
.img2
{
  padding-top: 20%;
}
.centered {
  width:22%;
  height:10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 70%;
  padding-bottom: 20%;
  padding-top: 8%;
  padding-right: 10%;
  background-color: ;
  text-align: right;
}
.btapln
{
  padding: 10px,50px;
  font-size: 17px;
  color: #FFFFFF;
  background-color: #F05136;
  width: 40%;
  height: 70%;
  border-radius: 9px;
}
.seconddiv
{
  width:70%;
  height:29%;
  background-color: white;
  padding-left: 11%;
  line-height: 25px;
}
.thirddiv
{
  width:70%;
  height:29%;
  padding-left: 11%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 18px;

  padding: 2%;
}
th{
  background-color: red;
  color: white;
  border: 1px solid white;
}
.table2{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 18px;
  padding: 2%;
}
.table2 th{
  background-color: white;
  color: black;
  border: 1px solid black ;
}
.map1
{

  float: left;
}
.fifth{
  width:100%;
  height:30%;
  background-color: white;
  margin-top: 47%;
  padding-left: 11%;
}
.p1
{
  line-height: 20px;
}
.sixth
{
  position: relative;
  width:100%;
  height:400px;
  background-color:#ECF0EE ;
  margin-top: 10%;
}
.topleft11 {
  position: absolute;
  top: 8px;
  left: 16px;
  color: black;
  padding-left: 11%;
  padding-top: 1%;
  padding-bottom: 2%;
  width:23%;
  text-align: left;
}
.top-right11 {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: #ECF0EE;
  width:5%;
  height:75%;
  padding-right: 30%;
  padding-bottom: 2%;
  padding-left: 4%;
  text-align: left;
}
.top-right111 {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color:#ECF0EE;
  width:8%;
  height:75%;
  padding-right: 40%;
  padding-bottom: 2%;
  padding-left: 6%;
  text-align: left;
}
.p34
{
  line-height: 28px;
}
.center1 {
  width:12%;
  height:28%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ECF0EE;
  margin-top: 8%;
  padding-bottom: 1px;

}
.btmimg
{
  padding-left: 8px;
  padding-top: 25px;

}
